<p id="notice"><%= notice %></p>

<p>
  <strong>Nci:</strong>
  <%= @regulatory_information.nci_id %>
</p>

<p>
  <strong>Fda regulated drug:</strong>
  <%= @regulatory_information.fda_regulated_drug %>
</p>

<p>
  <strong>Fda regulated device:</strong>
  <%= @regulatory_information.fda_regulated_device %>
</p>

<p>
  <strong>Post prior to approval:</strong>
  <%= @regulatory_information.post_prior_to_approval %>
</p>

<p>
  <strong>Ped postmarket surv:</strong>
  <%= @regulatory_information.ped_postmarket_surv %>
</p>

<p>
  <strong>Exported from us:</strong>
  <%= @regulatory_information.exported_from_us %>
</p>

<%= link_to 'Edit', edit_regulatory_information_path(@regulatory_information) %> |
<%= link_to 'Back', regulatory_informations_path %>
